<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Website</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div class="container">
        <h1>Welcome to Language Learning Website</h1>
        <form action="/" method="post">
            <button onclick="login()">Login</button>
        
        
            <button onclick="signUpWithGoogle()">Sign Up with Google</button>
        
        </form>
    </div>
    <!-- <script src="app.js"></script> -->
    <!-- <script src="indexscript.js"></script> -->
</body>
</html>
