<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Native Language Selection</title>
    <link rel="stylesheet" href="css/styles-native-language.css">

</head>
<body>
    <div class="container">
        <h1>Select Your Native Language</h1>
        <form action="/nativelanguage" method="post">
        <select id="nativeLanguageSelect">
            <option value="">Select Native Language</option>
            <option value="Hindi">Hindi</option>
            <option value="Marathi">Marathi</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Punjabi">Punjabi</option>
        </select>
        
         <button onclick="selectNativeLanguage()">Next</button>
        </form>
    </div>

    <!-- <script src="native-languagescript.js"></script> -->
    
</body>
</html>
